/* svg:hover {
  animation: ripple 1s infinite;
} */

svg circle.controlPoint {
  fill: blue;
  transition: fill 0.2s ease-in-out;
}

svg circle.controlPoint:hover {
  fill: black;
}

svg circle.interpolatedPoint {
  fill: green;
}
