/* svg:hover {
  animation: ripple 1s infinite;
} */

svg g.controlGroup circle.controlPoint {
  stroke: rgba(255, 255, 255, 0.6);
  fill: none;
  transition: stroke 0.2s ease-in-out;
}

svg g.controlGroup:hover circle.controlPoint {
  stroke: rgba(255, 255, 255, 1);
  animation-name: rippleEffect;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes rippleEffect {
  from {
    r: 8;
  }
  to {
    r: 32;
  }
}

svg circle.renderPoint {
  fill: green;
}
